@font-face {
    font-family: 'DMSans';
    src: url('../assets/fonts/DMSans/DMSans-VariableFont_opsz\,wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('../assets/fonts/DMSans/DMSans-Italic-VariableFont_opsz\,wght.ttf');
    font-style: italic;
}