@use "__animations" as *;
@use "__fonts" as *;
@use "__text" as *;
@use "__variables" as *;
@use "__mixins" as *;
@use "__reset" as *;

html,
body{
    height: 100%;
    overflow: hidden;
}

body{
    @include flexbox();
    color: $black;
}

#root,
.App{
    @include flexbox();
    flex-grow: 1;
}

.content{
    @include flexbox();
    @include padding(24, 24, 24, 24);

    flex-grow: 1;
}

.flex{
    @include flexbox();

    &--space{
        justify-content: space-between;
    }
}

main{
    flex-grow: 1;
}