@use '../../../../../styles/_mixins' as *;
@use '../../../../../styles/_variables' as *;

.link{
    @include flexbox();
    @include padding(12, 8, 12, 8);
    @include borderRadius(8);

    @include width(256);

    opacity: 0.7;

    transition: background-color 0.25s $bezier--base,
                color 0.25s $bezier--base,
                opacity 0.25s $bezier--base;

    &:hover{
        background-color: color-mix(in srgb, rgb(136, 22, 32) 15%, transparent);
        color: $berry;
    }

    &:active{
        background-color: color-mix(in srgb, rgb(136, 22, 32) 25%, transparent);
    }

    &--active{
        opacity: 1;
        background-color: color-mix(in srgb, rgb(136, 22, 32) 15%, transparent);
        color: $berry !important;
    }
}