@use "../../../../../styles/_mixins"  as *;
@use "../../../../../styles/_variables"  as *;

.header{
    @include flexbox();

    background: $platinum;
    width: 100%;

    border-bottom: adaptive(1) solid $platinum--border;
}